<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447997398253-5bmlqcb2ktmr1f0rg056ojgn8pfj331m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447997398253-5bmlqcb2ktmr1f0rg056ojgn8pfj331m</string>
	<key>API_KEY</key>
	<string>AIzaSyBNFHP1QHT4oYebUHhHZ_0FqG23JNaIcvU</string>
	<key>GCM_SENDER_ID</key>
	<string>447997398253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomm</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-3eb5f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-3eb5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447997398253:ios:389d84d6de55791d9690e4</string>
</dict>
</plist>